@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;

}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.btn {
    background-color: steelblue;
    border: none;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    width: 49%;

}

.btn:hover {
    opacity: 0.9;
}