@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, blue, rgb(116, 116, 240));
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: white;
    height: 50px;
    width: 50px;
    font-size: 18px;
    padding: 12px;
    border: 0;
    transition: width 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search .btn {
    background-color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border: 0;
    transition: transform 0.3s ease;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}