@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    transition: transform 0.5s ease;
}

.left-side>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}


.left-side h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;

}

.right-side {
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    transition: transform 0.5s ease;

}

.right-side>div {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-container .action-buttons button {
    position: absolute;
    font-size: 25px;
    background-color: white;
    color: #aaa;
    border: none;
    padding: 5px;
    z-index: 100;
    top: 50%;
    left: 35%;
    cursor: pointer;


}

.slider-container .action-buttons button:hover {
    color: black;
}


.down-button {
    transform: translateX(-100%);
}

.up-button {
    transform: translateY(-100%);
}