@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, white, blue);
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

nav {
    background-color: white;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: width 1s ease;
}

nav.active {
    width: 350px;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 0;
    transition: width 0.5s ease;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

nav.active ul li {
    transform: rotateY(360deg);
    opacity: 1;
}

nav ul li a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: bold;
}

.icon {
    padding: 0;
    border: 0;
    background-color: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: relative;
}

.icon .line1 {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 2px;
    width: 20px;
    background-color: darkblue;
    transition: transform 1s ease;
}

.icon .line2 {
    bottom: 10px;
    position: absolute;
    left: 5px;
    height: 2px;
    width: 20px;
    background-color: darkblue;
    transition: transform 1s ease;
}

nav.active .icon .line1 {
    transform: rotate(855deg) translateY(-6px);
}

nav.active .icon .line2 {
    transform: rotate(-855deg) translateY(5px);
}