@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to top, steelblue, lightgreen);
}

.container {
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    max-width: 100%;
    width: 60%;
    margin: 0 auto;
}

h2 {
    margin: 10px;
    opacity: 0.75;
    letter-spacing: 3px;
}

h3 {
    opacity: 0.75;
    letter-spacing: 3px;
}

.joke {
    font-size: 30px;
    margin: 50px auto;
    max-width: 80%;
}

.btn {
    background: linear-gradient(to left, rgb(31, 119, 191), rgb(75, 180, 75));
    color: white;
    padding: 15px 30px;
    font-size: 19px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    filter: contrast(150%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);


}

.btn:focus {
    outline: 0;

}

.btn:active {
    transform: scale(0.97);
    opacity: 0.9;
}

@media (max-width:900px) {
    .container {
        width: 80%;
    }
}

@media (max-width:600px) {
    .container {
        width: 95%;
    }
}